.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    div {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    button {
        width: 200px;
        height: 40px;
        align-self: center;
    }
}