.filters {
  background: #F6F6F6;
  color: #696F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.table {
  width: 100%;
  padding: 0 50px;

  .header {
    background: #F6F6F6;
    color: #696F8C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  th, td {
    padding: 13px 50px;
  }
}