.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &:hover svg, &:hover svg path {
    color: #fff;
    background: #3F57FF;
  }
}

.active {
    svg, svg path {
        color: #fff;
        background: #3F57FF;
    }
}