.layout {
  display: grid;
  grid-template-columns: 160px auto;

  .topbar {
    align-self: center;
    margin-bottom: 20px;
  }

  .breadcrumbs {
    margin-bottom: 40px;
  }

  .container {
    grid-column: 2 / 2;
    grid-row: 1 / -1;
    padding: 22px 70px;
  }
}